<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
    <a class="navbar-brand">AdminControl</a>
</nav>
<aside class="sidebar">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
           aria-controls="v-pills-home" aria-selected="true">Home</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
           aria-controls="v-pills-profile" aria-selected="false">Profile</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
           aria-controls="v-pills-messages" aria-selected="false">Messages</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
           aria-controls="v-pills-settings" aria-selected="false">Settings</a>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            ...
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...
        </div>
    </div>

</aside>
<main class="main">
    <section class="py-xl bg-cover bg-size--cover">
        <div class="container d-flex align-items-center no-padding">
            <div class="col">
                <div class="row justify-content-center">
                    <table class="table table-hover align-items-center">
                        <thead>
                        <tr>
                            <th scope="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="th_checkbox">
                                    <label class="custom-control-label" for="th_checkbox"></label>
                                </div>
                            </th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Location</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="bg-white" scope="row">
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="td_checkbox_1">
                                    <label class="custom-control-label" for="td_checkbox_1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="media align-items-center">
                                    <img src="/assets/images/prv/thumb-1.jpg" class="avatar avatar-lg mr-3">
                                    <div class="media-body">
                                        <h6 class="h5 font-weight-normal mb-0">Nabiha Armstrong</h6>
                                        <span class="font-weight-normal text-muted">Web Developer</span>
                                    </div>
                                </div>
                            </td>
                            <td>nabiha.armstrong@example.com</td>
                            <td>Cluj Napoca, RO</td>
                        </tr>
                        <tr class="bg-white" scope="row">
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="td_checkbox_2">
                                    <label class="custom-control-label" for="td_checkbox_2"></label>
                                </div>
                            </td>
                            <td>
                                <div class="media align-items-center">
                                    <img src="/assets/images/prv/thumb-2.jpg" class="avatar avatar-lg mr-3">
                                    <div class="media-body">
                                        <h6 class="h5 font-weight-normal mb-0">Dan Holding</h6>
                                        <span class="font-weight-normal text-muted">Product Designer</span>
                                    </div>
                                </div>
                            </td>
                            <td>dan.holding@example.com</td>
                            <td>New York, USA</td>
                        </tr>
                        <tr class="bg-white" scope="row">
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="td_checkbox_1">
                                    <label class="custom-control-label" for="td_checkbox_1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="media align-items-center">
                                    <span class="avatar avatar-lg bg-blue mr-3">WS</span>
                                    <div class="media-body">
                                        <h6 class="h5 font-weight-normal mb-0">Will Smith</h6>
                                        <span class="font-weight-normal text-muted">Sales Manager</span>
                                    </div>
                                </div>
                            </td>
                            <td>will.smith@example.com</td>
                            <td>Los Angeles, USA</td>
                        </tr>
                        <tr class="bg-white" scope="row">
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="td_checkbox_1">
                                    <label class="custom-control-label" for="td_checkbox_1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="media align-items-center">
                                    <span class="avatar avatar-lg bg-pink mr-3">CT</span>
                                    <div class="media-body">
                                        <h6 class="h5 font-weight-normal mb-0">Charlize Theron</h6>
                                        <span class="font-weight-normal text-muted">UI/UX Designer</span>
                                    </div>
                                </div>
                            </td>
                            <td>charlize.theron@example.com</td>
                            <td>Bucharest, RO</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>
</main>
</body>
<script>

</script>
</html>